.root {
  flex-grow: 5;
  flex-basis: 0;
  padding: 35px 25px 0 35px;

  .tasksContainer {
    display: block;
    overflow-y: scroll;
    height: 84%;
    padding-right: 10px;
  }
}

::-webkit-scrollbar {
  height: 1px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  padding-left: 10px;
  margin-left: 10px;
  background-color: #c4b5bf;
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #818286d7;
}