.root {
  display: flex;
  max-height: 300px;
  height: 100%;
  border-bottom: 1px solid #D8E6F3;
  margin-top: 20px;

  .goalContainer {
    width: 100%;

    &>p {
      font-size: 13px;
      color: #9b9b9b;
      margin: 15px 0;
      width: 85%;
      height: 55px;
      overflow: hidden;
    }

    .goalName {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .taskCaption {
      font-size: 19px;
      margin-bottom: 20px;
    }

    &>ul {
      height: 85px;
      padding: 0;
      margin: 10px;

      li {
        display: flex;
        padding-bottom: 5px;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .progressBar {
        max-width: 320px;
        width: 100%;
      }

      &>span {
        margin-left: 15px;
        font-size: 14px;
        color: #9b9b9b
      }
    }
  }

  .rewardContainer {
    display: flex;
    flex-direction: column;

    &>span {
      margin-bottom: 15px;
      font-size: 20px;
    }

    .rewardImage {
      border-radius: 5px;
      width: 180px;
      height: 180px;
      background-size: cover;
      margin-bottom: 10px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .rewardName {
      font-size: 16px;
    }
  }
}