.root {
  position: relative;
  margin: 0 3px;

  svg {
    width: 22px;
    height: 22px;
    display: block;
  }

.categoryList {
  position: absolute;
  right: 0;
  top: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.2s;
  margin-top: 10px;
  background-color: #F3FAFC;
  box-shadow: 0 5px 10px 0 rgba(119, 119, 119, 0.202);
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 8px 15px 8px 15px;
      display: inline-block;
      max-width: 100px;
      width: 100%;
      background-color: #F3FAFC;

      &:hover {
        background-color: #E5F0F2;
      }

      &:first-child {

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

.categoryIcon {
  cursor: pointer;

  &.default {
    path {
      fill: #b7c8db;
    }
  }

  &.active {
    path {
      fill: #4A9EEB;
    }
  }
}

.categoryContainer {
  margin-right: 13px;
  border-radius: 6px;
  padding: 6px 11px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #F1F1F1;
  color: #9b9b9b;


  svg {
    width: 25px;
    height: 25px;
    padding-right: 5px;
  }
}
}