.root {
  padding: 35px 25px 0 35px;
  flex-grow: 5;
  flex-basis: 0;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .caption {
      display: flex;
      position: relative;

      span {
        font-size: 24px;
        margin-right: 17px;
      }

      .addRewardbBtn {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #4A9EEB;
        border: none;
        border-radius: 8px;
        color: #fff;
        padding: 9px;

        svg {
          margin-right: 14px;
          fill: #fff;
        }
      }

      .rewardModalWindow {
        box-shadow: 0 5px 10px 0 rgba(119, 119, 119, 0.202);
        transition-duration: 2s;
        margin-top: 10px;
        position: absolute;
        padding: 20px 10px;
        background-color: #DEE4E9;
        border-radius: 7px;
        top: 100%;
        width: 400px;

        .fillContainer {
          display: flex;
          justify-content: space-around;
          margin-bottom: 10px;
          align-items: center;

          input {
            display: block;
            width: 100%;
            max-width: 200px;
            border: none;
            background-color: #dee4e9cd;
            outline: none;
            margin-bottom: 10px;
            height: 100%;

            &:focus {
              border-bottom: 1px solid #888787;
              outline: none;
            }
          }

          button {
            display: flex;
            border-radius: 7px;
            border: none;
            background-color: #4A9EEB;
            padding: 9px;
            color: #fff;
            font-size: 14px;

            svg {
              margin-right: 5px;
              fill: #fff;
              width: 18px;
              height: 18px;
            }
          }
        }

        .createRewardBtn {
          display: flex;
          cursor: pointer;
          background-color: #fff;
          display: inline-flex;
          align-items: center;
          padding: 5px 10px;
          border-radius: 7px;
          color: #888787;

          svg {
            margin-right: 10px;
            fill: #888787;
          }

          span {
            font-size: 16px;
            margin-right: 0;
          }
        }
      }
    }
  }
}