.root {
  flex-grow: 5;
  flex-basis: 0;
  padding: 35px 25px 0 35px;

  &>header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    span {
      font-size: 24px;
      font-weight: 0;
      margin-right: 18px;
    }

    .addButn {
      align-items: center;
      display: inline-flex;
      font-size: 16px;
      background-color: #4A9EEB;
      border: none;
      padding: 9px 15px;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;

      .plus {
        margin-right: 15px;

        path {
          fill: white;
        }
      }

      &:hover {
        background-color: #3298f7a8;
      }
    }

    div {
      svg {
        cursor: pointer;
      }
    }
  }

  .goalsContainer{
      display: block;
      overflow-y: scroll;
      height: 88%;
      padding-right: 20px;
  
      &::-webkit-scrollbar {
        height: 1px;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        padding-left: 10px;
        margin-left: 10px;
        background-color: #b7c8db93;
        border-radius: 9em;
      }
  
      &::-webkit-scrollbar-thumb:hover {
        background-color: #c5c4c4;
      }
    }
  }