.inputContainer {
  background-color: #F3FAFC;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;

  .plus {
    margin-left: 15px;
  }

  .createTaskInput {
    background-color: #F3FAFC;
    border: none;
    font-size: 16px;
    flex-grow: 1;

    padding: 14px;
    outline: none;

    &::placeholder {
      color: #B7C8DB;
      font-size: 16px;
    }
  }
}

.cross {
  cursor: pointer;
  margin: 0 5px;

  svg {
    display: block;
    width: 18px;
    height: 18px;
  }
}

.inputOptions {
  display: flex;
  align-items: center;

  .calendarContainer {
    position: relative;
    display: block;
    margin: 0 5px;
    width: 16px;
    height: 16px;

    .calendar {
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      color: #B7C8DB;
      margin-top: -2px;
    }

    div {

      border: none;
      width: 16px;
      opacity: .1;
      outline: none;
      cursor: pointer;

      input {
        padding: 0;
      }

      * {
        cursor: pointer;
      }

    }
  }
}

.date {

  font-size: 13px;
  background-color: #cfe6fd;
  color: #4A9EEB;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    width: 20px;

    padding-right: 5px;
  }

  div {
    cursor: pointer;
    border: none;
    opacity: .1;
    outline: none;
    position: absolute;

  }
}